### 1. Creating dataframe
### 2. dealing with rows and column
### 3. Operations: min,max,std,describe
### 4. Conditional selection
### 5. Set_index

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("weather_data.csv")

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df.shape # it will print dimension of dataframe

(6, 4)

In [7]:
rows, columns = df.shap

NameError: name 'rows' is not defined

In [ ]:
c