## Time series analysis3

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('aapl_no_dates.csv')

In [3]:
df

      Open    High     Low   Close    Volume
0   144.88  145.30  143.10  143.50  14277848
1   143.69  144.79  142.72  144.09  21569557
2   143.02  143.50  142.41  142.73  24128782
3   142.90  144.75  142.90  144.18  19201712
4   144.11  145.95  143.37  145.06  21090636
5   144.73  145.85  144.38  145.53  19781836
6   145.87  146.18  144.82  145.74  24884478
7   145.50  148.49  145.44  147.77  25199373
8   147.97  149.33  147.33  149.04  20132061
9   148.82  150.90  148.57  149.56  23793456
10  149.20  150.13  148.67  150.08  17868792
11  150.48  151.42  149.95  151.02  20922969
12  151.50  151.74  150.19  150.34  17243748
13  149.99  150.44  148.88  150.27  26252630

In [4]:
pd.date_range(start='7/1/2017', end='7/21/2017', freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [5]:
## here it included holiday also , on 4th july there was holiday

In [6]:
## so how to handle holiday

In [7]:
from pandas.tseries.holiday import *

In [8]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [9]:
# Now we will create custome business date

In [10]:
usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [11]:
rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=usb)

In [13]:
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [14]:
# now we can see that holiday are not included in above indexes

In [17]:
df.set_index(rng, inplace=True) # Here we are writing inplace = true because to modify in current dataframe , if we will 
                                # not use then it will create new dataframe

In [18]:
df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

### How to create our own custom calender

In [28]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class mybirthcalendar(AbstractHolidayCalendar):
    rules = [Holiday('Mayank"s Birth day', month=7, day=20)]
                   
myc = CustomBusinessDay(calendar=mybirthcalendar())

In [29]:
myc

In [32]:
pd.date_range(start='7/1/2017', end='7/30/2017', freq=myc)

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-21', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28'],
              dtype='datetime64[ns]', freq='C')

##### Use ‘observance’ as ‘nearest_workday’. 
#### That means if the specified date is a weekend, the holiday calendar will automatically take the nearest workday as the holiday. 
#### There are few other options for ‘observance’. They are: ‘sunday_to_monday’, ‘next_monday_or_tuesday’, ‘previous_friday’, ‘next_monday’

In [36]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class mybirthcalendar(AbstractHolidayCalendar):
    rules = [Holiday('Mayank"s Birth day', month=7, day=23, observance=nearest_workday)]
                   
myc = CustomBusinessDay(calendar=mybirthcalendar())

In [37]:
myc

In [38]:
pd.date_range(start='7/1/2017', end='7/30/2017', freq=myc)

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28'],
              dtype='datetime64[ns]', freq='C')

In [26]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class myCalendar(AbstractHolidayCalendar):

    rules = [

        Holiday('My Birth Day', month=4, day=15),#, observance=nearest_workday),

    ]

    

my_bday = CustomBusinessDay(calendar=myCalendar())

pd.date_range('4/1/2017','4/30/2017',freq=my_bday)

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-14', '2017-04-17', '2017-04-18',
               '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-24',
               '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

### In countries like egypt friday ans saturday are holidays and sunday is working day

In [39]:
# here for egypt we can customize the day

In [44]:
b = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')

In [45]:
# Now we will use this in my date range

In [46]:
pd.date_range('4/1/2017','4/30/2017',freq=b)

DatetimeIndex(['2017-04-02', '2017-04-03', '2017-04-04', '2017-04-05',
               '2017-04-06', '2017-04-09', '2017-04-10', '2017-04-11',
               '2017-04-12', '2017-04-13', '2017-04-16', '2017-04-17',
               '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-23',
               '2017-04-24', '2017-04-25', '2017-04-26', '2017-04-27',
               '2017-04-30'],
              dtype='datetime64[ns]', freq='C')

In [47]:
# let's say there are world where only sunday and monday are working days

In [48]:
b = CustomBusinessDay(weekmask='Sun Mon')

In [49]:
pd.date_range('4/1/2017','4/30/2017',freq=b)

DatetimeIndex(['2017-04-02', '2017-04-03', '2017-04-09', '2017-04-10',
               '2017-04-16', '2017-04-17', '2017-04-23', '2017-04-24',
               '2017-04-30'],
              dtype='datetime64[ns]', freq='C')

In [50]:
# we can also supply specific holiday

In [51]:
b = CustomBusinessDay(weekmask='Sun Mon', holidays=['2017-04-09'])

In [52]:
pd.date_range('4/1/2017','4/30/2017',freq=b)

DatetimeIndex(['2017-04-02', '2017-04-03', '2017-04-10', '2017-04-16',
               '2017-04-17', '2017-04-23', '2017-04-24', '2017-04-30'],
              dtype='datetime64[ns]', freq='C')