## Different ways of creating dataframe

### 1) Using CSV
### 2) Using Excel
### 3) From Python Dictionary
### 4) From list of tuples
### 5) From list of dictionaries

In [1]:
import pandas as pd

In [3]:
df  = pd.read_csv('weather_data.csv')

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [6]:
df1 = pd.read_excel('weather_data.xlsx')

In [7]:
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [9]:
weatherdata  = {'day':['1/1/2017', '2/1/2017','3/1/217'],
                'temperature':[35,32,43],
                'windspeed':[6,7,2],
                'event':['rain', 'Sunny', 'Snow']}

In [10]:
weatherdata

{'day': ['1/1/2017', '2/1/2017', '3/1/217'],
 'temperature': [35, 32, 43],
 'windspeed': [6, 7, 2],
 'event': ['rain', 'Sunny', 'Snow']}

In [14]:
df  = pd.DataFrame(weatherdata)

In [15]:
df

        day  temperature  windspeed  event
0  1/1/2017           35          6   rain
1  2/1/2017           32          7  Sunny
2   3/1/217           43          2   Snow

In [23]:
weather_data = [
                ('1/1/2017', 35, 6, 'Rain'),
                ('2/1/2017', 32, 7, 'Sunny'),
                ('3/1/2017', 43, 2, 'Snow'),
               ]

In [18]:
df = pd.DataFrame(weather_data, columns=['day','temperature','windspeed', 'Event'])

In [19]:
df

        day  temperature  windspeed  Event
0  1/1/2017           35          6   Rain
1  2/1/2017           32          7  Sunny
2  3/1/2017           43          2   Snow

In [25]:
weather_data = [
    {'day': '1/1/2020', 'temperature': 35.,'windspeed':6, 'Event':'Rain'},
    {'day': '2/1/2020', 'temperature': 32.,'windspeed':7, 'Event':'Sunny'},
    {'day': '3/1/2020', 'temperature': 43.,'windspeed':2, 'Event':'Snow'},
]

In [26]:
df = pd.DataFrame(weather_data)

In [27]:
df

        day  temperature  windspeed  Event
0  1/1/2020         35.0          6   Rain
1  2/1/2020         32.0          7  Sunny
2  3/1/2020         43.0          2   Snow